html {
    font-size: 10px;
    background: @white;
}
body {
    box-sizing: border-box;
    color: @dark;
    font-family: 'Exo 2', sans-serif;
    font-weight: 400;
    .fsize(16);
    * {
        box-sizing: border-box;
    }
}
.clearfix {
    &:after {
        content: '';
        display: block;
        clear: both;
    }
}
.container {
    margin: auto;
    max-width: 1200px;
}
main {
    padding: 3rem 0 6rem;
}
.main {
    &__left {
        display: inline-block;
        float: left;
        width: 73.3%;
    }
    &__right {
        display: inline-block;
        float: right;
        width: 24.7%;
        > a {
            display: block;
            vertical-align: top;
            margin: 0 0 0.2rem;
            img {
                width: 100%;
                height: auto;
            }
        }
    }
}
.aside-title {
    margin: 0 0 2.5rem;
    text-align: right;
    text-transform: uppercase;
    color: @menuColor;
    .fsize(@menuFontSize);
}
.tabs {
    &-block {
        &-main-page {
            margin-bottom: 5.5rem;
        }
    }
    &__list {
        margin: 0;
        padding: 0;
        li {
            display: inline-block;
            list-style: none;
            float: left;
            &.neutral {
                width: 41%;
            }
            &.food {
                width: 59%;
            }
            a {
                position: relative;
                z-index: 1;
                display: block;
                padding: 2rem 1.5rem;
                text-align: center;
                text-decoration: none;
                text-transform: uppercase;
                .fsize(17);
                color: @dark;
                background: @white;
                border-top: 1px solid @white;
                border-right: 1px solid @white;
                border-left: 1px solid @white;
                border-bottom: 1px solid @grayDark;
                margin-bottom: -1px;
                .trans();
                &.active {
                    cursor: default;
                    background: @gray;
                    border-bottom: 1px solid @gray;
                    border-top: 1px solid @grayDark;
                    border-right: 1px solid @grayDark;
                    border-left: 1px solid @grayDark;
                }
            }
        }
    }
    &__content {
        display: none;
        background: @gray;
        border: 1px solid @grayDark;
        padding: 3rem;
        overflow: hidden;
        &.active {
            display: block;
        }
    }
}
h2 {
    color: @titleColor;
    .fsize(@titleSize);
    text-transform: uppercase;
    font-weight: 400;
    margin: 4rem 0 0.5rem;
}
p {
    .fsize(16);
    margin: 2rem 0;
    letter-spacing: -0.05rem;
    line-height: 1.35;
}
.items-wrap {
    padding: 0 0 1.5rem;

    .item {
        display: inline-block;
        float: left;
        text-align: center;
        width: 30%;
        margin: 3.3rem 0 0 3.07%;
        &__title {
            color: @dark;
            .fsize(11.2);
            font-weight: 600;
            text-transform: uppercase;
            margin: 1.2rem 0 0;
            &--light {
                margin: 0;
                .fsize(15);
                font-weight: 400;
                line-height: 1.4;
            }
            &--small {
                margin: 0;
                font-weight: 400;
                .fsize(9);
            }
        }
        &__image {
            display: table;
            width: 100%;
            height: 9.5rem;
            > div {
                display: table-cell;
                vertical-align: middle;
            }
            img {
                display: inline-block;
            }
            svg {
                display: inline-block;
            }
        }
    }
    &--services {
        .item {
            &__title {

            }
            &__image {

            }
        }
    }
}

footer {
    margin: 6rem 0 0;
    p {
        .fsize(16.6);
        letter-spacing: -0.08rem;
        margin: 0 2.2rem 1.5rem 0;
        display: inline-block;
    }
}
.look-on-map {
    //float: right;
    .fsize(12);
    text-transform: uppercase;
    text-decoration: underline;
    color: @dark;
    &:hover {
        text-decoration: none;
    }
}
.go-to-top {
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    .fsize(16.6);
    color: @menuColor;
    transition: all 0.25s;
    &:hover {
        color: @menuColorActive;
    }
}

.dostavka-text {
    p {
        margin: 0.7rem 0;
    }
}

.partners {

}
.partner {
    display: inline-block;
    float: left;
    width: 33.3%;
    margin: 4.5rem 0 0;
    padding: 0 2rem;
    text-align: center;
    &:nth-child(3) {
        .partner__image {
            img {
                max-width: 90%;
            }
        }
    }
    &__image {
        position: relative;
        height: 12rem;
        img {
            .centered;
            max-width: 60%;
            max-height: 100%;
        }
    }
    &__link {
        margin: 1rem 0;
        font-family: 'Verdana';
        .fsize(12);
        a {
            color: @dark;
            &:hover {
                text-decoration: none;
            }
        }
    }
    &__text {
        height: 4rem;
        .fsize(14);
    }

}
.catalog-item {
    text-align: left;
    line-height: 1.4;

    a {
        text-transform: uppercase;
        text-decoration: none;
        color: @dark;
        .fsize(12.5);
        transition: all 0.2s;
        &:hover {
            color: @blue;
        }

    }
    &__title {
        margin: 1.5rem 0 0;
        height: 4rem;
        padding-right: 9rem;
        position: relative;
        .fsize(11.5);
        text-align: left;
        a {
            position: absolute;
            bottom: 0;
            right: 3rem;
            text-decoration: underline;
            color: @catalogMore;
            text-transform: lowercase;
            .fsize(10.5);
            &:hover {
                text-decoration: none;
            }
        }
    }
}
.catalog-accordion {
    text-transform: uppercase;
    .accordion-inner{
        display: none;
        &.active {
            display: block;
        }
    }
    .accordion-toggle {
        &.active {
            color: @blue;
        }
    }
    padding: 0;
    margin: 0;
    > li {
        list-style: none;
        margin: .4rem 0;
        ul {
            padding: 0.2rem 0 0 2rem;
            margin: 0;
            li {
                list-style: none;
                margin: 0;
            }
        }
    }
    a {
        text-transform: uppercase;
        text-decoration: none;
        color: @dark;
        .fsize(12.5);
        transition: all 0.2s;
        &:hover {
            color: @blue;
        }

    }
}

.hot-sale {
    position: relative;

}
.sale-block {
    position: absolute;
    z-index: 1;
    top: -4rem;
    left: 0;
    padding: 0.5rem 2.9rem 1.4rem 1.2rem;
    font-family: 'Verdana';
    line-height: 1.4;
    background: url(../images/sale-bg.png);
    background-size: 100% 100%;
    &__title {
        color: @white;
        .fsize(21);
        font-weight: 700;
        letter-spacing: 0.15rem;
    }
    &__name {
        .fsize(8);
        font-weight: 500;
        color: @dark;
    }
    &__price {
        .fsize(16.4);
        .old {
            text-decoration: line-through;
            color: @dark;
            font-weight: 400;
        }
        .new {
            .fsize(15.5);
            color: @white;
            font-weight: 700;
        }
    }
}










