@baseFont: 10;
.fsize(@sizeValue: @baseFont, @content: @baseFont) {
    @remValue: @sizeValue/10;
    font-size: ~"@{remValue}rem";
}
.trans(@time: 0.25s) {
    transition: all @time;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*colors*/
@white: #fff;
@black: #000;
@gray: #d6d6d6;
@grayDark: #a6a6a6;
@dark: #030303;
@orange: #f79d54;
@orangeDark: #b68c69;

@menuFontSize: 12.5;
@menuColor: #0b7a7a;
@menuColorActive: #11adbb;
@menuLines: #979797;

@titleColor: #0b7a7a;
@titleSize: 20;