@baseFont: 10;
.fsize(@sizeValue: @baseFont, @content: @baseFont) {
    @remValue: @sizeValue/10;
    font-size: ~"@{remValue}rem";
}

/*colors*/
@white: #fff;
@black: #000;
@gray: #d6d6d6;
@grayDark: #a6a6a6;
@dark: #030303;
@orange: #f79d54;
@orangeDark: #b68c69;

@menuFontSize: 17;
@menuColor: #0b7a7a;
@menuColorActive: #11adbb;